<!DOCTYPE html>
<html>
  <head>
    <title>bucket</title>
  </head>
  <body>
    <ul class="m-images">
      <li class="headings">
        <span class="image-metadata">Name</span>
        <span class="image-metadata">Date</span>
        <span class="image-metadata numeric">Size</span>
      </li>
      {{ range $i, $image := .Images }}
      <li class="image" data-image-name="{{ $image.BaseName }}">
        <a href="{{ $image.BaseName }}" class="source image-metadata">{{ $image.BaseName }}</a>
        <span class="image-metadata.date">{{ $image.ModTime.Format "02-Jan-2006" }}</span>
        <span class="image-metadata.size">{{ $image.Size }}</span>
      </li>
      {{ end }}
    </ul>
  </body>
</html>
