<!DOCTYPE html>
<html class="isnt-js">
  <head>
    <title>bucket</title>
    {{ range $i, $csspath := .FingerprintedStylesheets }}
      <link href="stylesheets/{{ $csspath }}" rel="stylesheet">
    {{ end }}
  </head>
  <body>
    div.m-actions
    form
    fieldset
    label for="filter"
    input#filter placeholder="Filter images" data-action="filter"

    <div class="m-actions">
      <form>
        <fieldset>
          <label for="filter">Filter images</label>
          <input id="filter" name="filter" data-action="filter" placeholder="Filter images"/>
        </fieldset>
      </form>
    </div>

    <ul class="m-images">
      <li class="headings">
        <span class="image-metadata">Name</span>
        <span class="image-metadata">Date</span>
        <span class="image-metadata numeric">Size</span>
      </li>
      {{ range $i, $image := .Images }}
      <li class="image" data-image-name="{{ $image.BaseName }}">
        <a href="{{ $image.BaseName }}" class="source image-metadata">{{ $image.BaseName }}</a>
        <span class="image-metadata date">{{ $image.ModTime.Format "02-Jan-2006" }}</span>
        <span class="image-metadata size">{{ $image.Size }}</span>
      </li>
      {{ end }}
    </ul>
    {{ range $i, $jspath := .FingerprintedJavaScripts }}
      <script src="javascripts/{{ $jspath }}"></script>
    {{ end }}
  </body>
</html>
